@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

/* * {
  background-color: #595959;
} */
.headline {
  width: 940px;
  height: 588px;
  margin: 18px auto;
  position: relative;
}

.headline img {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
}

/* .headline.title {
  position: absolute;
  top: 411px;
  left: 21px;
  background-color: red;
  width: 751px;
  height: 144px;
} */

.headline .fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: rgba(255, 255, 255, 0)
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 40%
    )
    repeat scroll 0 0;
}

.story-container {
  display: flex;
  width: 964px;
  height: 2417px;
  margin: auto;
  gap: 17px;
}

.story-part {
  width: 622px;
  height: 953px;
}

.first-part {
  display: flex;
  background-color: #ffffff;
  width: 620px;
  height: 278px;
  align-items: center;
  text-align: center;
}

.first-part p {
  margin: 0px auto;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background-color: #ffffff;
  color: #444444;
}

.second-part {
  width: 620px;
  height: 290px;
  align-items: center;
  background-color: #ffffff;
  margin-top: 37px;
  text-align: center;
}

.second-part p {
  margin: 0;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;

  background-color: #ffffff;
  color: #444444;
}

.second-part img {
  margin: 44px 0px 0px 15px;
  background-color: #ffffff;
}

h2 {
  margin-left: 31px;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;

  color: #363f48;
}

.about-author {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.about-author p {
  margin: 0;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #444444;
}

.about-author img {
  display: block;
  width: 110px;
  height: 110px;
  margin-left: 31px;
}

.comments-container {
  margin-top: 50px;
  height: 622px;
  height: 1015px;
}

.comments-container h2 {
  margin-left: 32px;
}

.comments-container h2 {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;

  color: #363f48;
}
.your-comment {
  margin: 30px auto;
  width: 569px;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #444444;
}

#name {
  width: 303px;
  height: 43px;
  margin-left: 30px;
  background-color: #dddddd;
  border: 0;
}

#email {
  margin-top: 8px;
  width: 303px;
  height: 43px;
  margin-left: 30px;
  background-color: #dddddd;
  border: 0;
}

#input {
  width: 562px;
  height: 187px;
  margin-left: 30px;
  margin-top: 7px;
  background-color: #dddddd;
  border: 0;
}

::placeholder {
  position: absolute;
  width: 100px;
  height: 17px;
  left: 17px;
  top: 10px;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #666666;
}

button {
  border: 0;
  width: 153px;
  height: 53px;
  margin-left: 30px;
  margin-top: 18px;
  background: #4d4382;
  font-family: "Varela Round";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.purple-line {
  width: 1600px;
  height: 23px;
  background-color: #4d4382;
  margin: auto;
}
