.bar-container {
  width: 1600px;
  height: 53px;
  background-color: #4d4382;
  margin: auto;
}

.bar {
  background-color: #4d4382;
  width: 940px;
  margin: 0 auto;
  height: 53px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.bar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
.bar li.active {
  background-color: #299ec3;
}
.bar li:hover {
  background-color: #299ec3;
}
