.banner {
  background: #ffffff;
  width: 940px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7d7d7;
  margin: 16px auto;
}

.banner p {
  color: #d7d7d7;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
}

.banner .first {
  margin-top: 40px;
}
