@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

//background colors
$dark-color: #252525;
$banner-color: #ffffff;
$back-color: #e6e6e6;
$purple-color: #4d4382;

//font
$font-Varela: "Varela Round", sans-serif;
$font-Bitter: "Bitter", serif;
