@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.slider {
  position: relative;
  width: 940px;
  height: 425px;
  margin: 18px auto;
}

.slider-title {
  width: 590px;
  color: white;
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  /* margin-top: 30px; */
}

#comments{
  display: inline-block;
}

.slider-date {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
}

.slick-prev {
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
}

.slider-image {
  position: relative;
}

.slider-image > img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.slider-image > .slider-title {
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.slider-image > .slider-date {
  position: absolute;
  bottom: 130px;
  left: 30px;
}

.slider-button {
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
  color: white;
  width: 120px;
  height: 30px;
}

.slider-image > .slider-button {
  position: absolute;
  bottom: 10px;
  left: 30px;
}